<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professorat TIC Barcelona</title>
</head>
<body>

    <h2>INFORMACIÓ PROFESSORAT TIC BARCELONA</h2>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>NOM</th>
            <th>COGNOM</th>
            <th>EDAT</th>
            <th>CURS</th>
        </tr>
        <tr>
            <td>{{ professor1.id }}</td> 
            <td>{{ professor1.name }}</td>
            <td>{{ professor1.surname }}</td>
            <td>{{ professor1.age }}</td>
            <td>{{ professor1.curs }}</td>
        </tr>
        <tr>
            <td>{{ professor2.id }}</td>
            <td>{{ professor2.name }}</td>
            <td>{{ professor2.surname }}</td>
            <td>{{ professor2.age }}</td>
            <td>{{ professor2.curs }}</td>
        </tr>
        <tr>
            <td>{{ professor3.id }}</td>
            <td>{{ professor3.name }}</td>
            <td>{{ professor3.surname }}</td>
            <td>{{ professor3.age }}</td>
            <td>{{ professor3.curs }}</td>
        </tr>
    </table>

</body>
</html>
